<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Resultado da Pesquisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='result.css') }}">
</head>
<body>
    <section class="area-result">
        <div class="result">
            <div>
                <a href="/">
                    <img src="https://estatico.amcham.com.br/logo_white.png" alt="Logo">
                </a>
            </div>
            <h2>Resultados da Pesquisa por "{{ query }}"</h2>
            
            {% if usuarios %}
                <ul>
                    {% for usuario in usuarios %}
                        <li>{{ usuario }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum usuário encontrado com o nome "{{ query }}".</p>
            {% endif %}
            
            <form action="/" method="get">
                <button type="submit" class="voltar">Voltar</button>
            </form>
        </div>
    </section>
</body>
</html>
