* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001a3f;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col-md-6 {
    background-color: #1a13a3;
    width: 460px;
    height: 600px;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}

.col-md-6 img {
    width: 265px;
    height: auto;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 94%;
    padding: 9px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.flash-messages {
    margin-top: 20px;
    text-align: center;
}

.alert {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.alert ul {
    list-style: none;
    padding: 0;
}

.alert li {
    margin-bottom: 5px;
}
